body {
    font-family: "Lato", sans-serif;
  }
  
.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h4 {
  color: rgb(255, 225, 0);
  font-weight: bold;
  font-size: 20px;
  padding: 0px 15px;
}

  .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:white;
    overflow-x: hidden;
    padding-top: 20px;
    box-shadow: 0px 0px 6px rgb(111, 111, 111);
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(81, 81, 81);
    display: block;
  }
  
  .sidenav a:hover {
    color: rgb(156, 156, 156);
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }